<section id="login" class="login">
    <div class="login-input container">      
        <div class = "row">
            <div class = "login-form col-sm-12 col-lg-6 col-lg-offset-3">
    
                <h2 class = "text-center">Login to ResumeBox!</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>

                    <div class="form-group">
                        <%= f.label :email%>
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                    </div>

                    <div class="form-group">
                        <%= f.label :password%>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Minimum 8 Characters" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end -%>
                    <%= f.submit "Login", class: "btn btn-default" %>
                <% end %>
            </div>
        </div>

    </div><!--//container-->
</section>

<%= render "users/shared/links" %>
