<%= render 'layouts/navbar' %>
<section id="account" class="account section offset-header">
    <div class="account-container container text-center">
        <h2>My Account</h2>
        <br>
    </div><!--//container-->

    <div class = "container">
    	<h2>My Resumes</h2>
    	<% if @user.resumes.any? %>
    		<h4>(<%= @user.resumes.count %>) resumes. </h4>
        <% @user.resumes.each do |r|%>

        <li >
        	<span class="timestamp"> Posted <%= time_ago_in_words(r.created_at) %> ago. </span>
        	<%= link_to "delete", r, method: :delete %>
          <%= link_to "edit", edit_resume_path(r) %>
        </li>
        <% end %>
    	<% end %>
    </div>

    <div class = "container">
        <button> <%= link_to "Add a Resume", new_resume_path, :class => "btn btn-primary" %>, </button>
    </div>
</section><!--//promo-->
