
<%= render 'layouts/navbar' %>
<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Share and View Resumes</h2>
        <p class="intro">With Fellow Waterloo Students</p>
        <% if !user_signed_in? %>
            <div class="btns">
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-cta-primary" %>
                 <%= link_to "Login", new_user_session_path, class: "btn btn-cta-primary" %>
            </div>
        <% else %>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-cta-primary" %>
        <% end %>

        
        <ul class="meta list-inline">
            <li><a href="https://github.com/xuyuwei/resumebox" target="_blank">View on GitHub</a></li>            
        </ul><!--//meta-->
    </div><!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">
                
            </ul>
        </div>
    </div>
</section><!--//promo-->
<!-- ******ABOUT****** --> 
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is ResumeBox?</h2>
        <p class="intro text-center">ResumeBox is a platform where students are able to share their resumes and view other resumes in order to help with the internship/job hunting process. Most people post their resumes on their LinkedIn profile or personal website anyways, so we think of this website as an extension of those online profiles. Upload your resume today and begin viewing other people's resumes!</p>
        <h3 class="title text-center">A few of the resumes on ResumeBox</h3>
         <div class="row">
            <% @resumes.each do |r| %>
                <% if user_signed_in? %>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= link_to image_tag(get_image_url(r.id, r.resume_file_name), class: "resume-preview"), resume_path(r) %>
                </div>
                <% else %>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <%= image_tag(get_image_url(r.id, r.resume_file_name), class: "resume-preview") %>
                </div>
                <%end %>
            <% end %>
            <div class="clearfix visible-md"></div> 
        </div><!--//row-->            
    </div><!--//container-->
</section><!--//about-->

<!-- ******FEATURES****** --> 
<section id="features" class="features section">
    <div class="container text-center">
        <h2 class="title">Features</h2>
        <ul class="feature-list list-unstyled">
            <li><i class="fa fa-check"></i> Fully responsive</li>
            <li><i class="fa fa-check"></i> HTML5 + CSS3</li>
            <li><i class="fa fa-check"></i> Built on <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3</a></li>
            <li><i class="fa fa-check"></i> 400+ FontAwesome icons</li>
            <li><i class="fa fa-check"></i> 4 colour schemes</li>
            <li><i class="fa fa-check"></i> LESS files included</li>
            <li><i class="fa fa-check"></i> Compatible with all modern browsers</li>
        </ul>
    </div><!--//container-->
</section><!--//features-->