<%=render 'layouts/navbar'%>
<section id = "resume" class = "resume section offset-header">
	<div class = "container text-center">
		<div id = "tag_cloud">
		<p>Tags: <%= raw @resume.company_list.map{ |t| link_to t, resumes_path(:company => t) }.join(", ") %> </p>
		<p><%=@resume.id%><p>
		<img class = "img-responsive" src = <%=get_image_url(@resume.id, @resume.resume_file_name)%> >
		<p> <%=get_image_url(@resume.id, @resume.resume_file_name)%> </p>
	</div>
</section>
